In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.rcParams['font.sans-serif']=['SimHei']
plt.rcParams['axes.unicode_minus']=False

In [2]:
#导入相关文件
data = pd.read_csv("../data/data.csv")

In [3]:
data.head()

      kind        time  cnt  kind_num
0  flavor1  2015-12-01    3         1
1  flavor1  2015-12-02    6         1
2  flavor1  2015-12-03    2         1
3  flavor1  2015-12-04    2         1
4  flavor1  2015-12-06    3         1

In [4]:
data['time'] = data['time'].apply(lambda x: pd.to_datetime(x,format="%Y-%m-%d"))

In [6]:
#训练数据给3,4月份，测试数据预测5月份的7天，14天两种
train = data[data['time'] >= pd.to_datetime("2015-12-01", format="%Y-%m-%d")] [data['time'] <= pd.to_datetime("2016-01-24", format="%Y-%m-%d")]
test = data[data['time'] >= pd.to_datetime("2016-01-25", format="%Y-%m-%d")] [data['time'] <= pd.to_datetime("2016-01-31", format="%Y-%m-%d")]

/home/chenxl/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

In [9]:
test_total = test.groupby(['kind']).sum().reset_index()
del test_total['kind_num']

In [10]:
test_total

        kind  cnt
0    flavor1   23
1   flavor10    3
2   flavor11   15
3   flavor12    9
4   flavor13    2
5   flavor14    5
6   flavor15    3
7    flavor2   14
8   flavor20    1
9   flavor21    1
10   flavor3    3
11   flavor4   11
12   flavor5   29
13   flavor6    2
14   flavor7    6
15   flavor8   27
16   flavor9   11

In [11]:
test_total.to_csv("../data/test.csv",index=None)

In [13]:
train.to_csv("../data/train.csv",index=None)